@charset "UTF-8";

* { padding: 0; margin: 0; box-sizing: border-box; }
ul li { list-style: none; }
input { outline: none; }

.inner { width: 1400px; margin: 0 auto; }

#header { position: relative; border-bottom: 1px solid #ccc; }
#header > .inner { display: flex; justify-content: space-between; align-items: center; height: 100px; }

#header .header-logo { position: relative; z-index: 2; }
#header .header-logo a { text-decoration: none; font-size: 24px; color: #333; }

#header .header-search { position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%; }
#header .header-search .search-toggle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 280px; border: 1px solid #ccc; border-radius: 30px; }
#header .header-search .search-toggle .toggle-item { display: none; position: relative; width: 100%; padding: 15px 0; padding-left: 30px; cursor: pointer; }
#header .header-search .search-toggle .toggle-item i { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); }

#header .header-search .search-field { display: none; position: absolute; top: calc(100% - 1px); left: 0; width: 100%; background: #fff; }
#header .header-search .search-field .search-wrap { width: 900px; margin: 0 auto; padding: 20px 0 40px; }
#header .header-search .search-field .search-wrap  form { display: flex; justify-content: space-between; align-items: center; }
#header .header-search .search-field .search-wrap  form input[type='text'] { width: 100%; height: 40px; background: #f1f1f1; border: 1px solid #e9e9e9; border-radius: 3px; padding-left: 10px; cursor: pointer; }
#header .header-search .search-field .search-wrap .search-list { display: flex; justify-content: space-between; width: calc(100% - 120px); }
#header .header-search .search-field .search-wrap .search-list .list-item { position: relative; width: 23%; padding: 0 10px; }
#header .header-search .search-field .search-wrap .search-list .list-item:first-child { width: 250px; }
#header .header-search .search-field .search-wrap .search-list .list-item:after { position: absolute; top: 0; right: 0; content: ""; width: 1px; height: 100%; background: #e0e0e0; }
#header .header-search .search-field .search-wrap .search-list .list-item:last-child:after { display: none; }
#header .header-search .search-field .search-wrap .search-list .list-item .item-title { font-weight: bold; font-size: 14px; line-height: 30px; }

#header .header-search .search-field .search-wrap .search-list .list-item.guest input { width: calc(100% - 100px); text-align: right; }
#header .header-search .search-field .search-wrap .search-list .list-item.guest button { width: 40px; height: 40px; background: #ccc; border: none; }

#header .header-search .search-field .search-wrap .search-button { width: 100px; padding-top: 30px; }
#header .header-search .search-field .search-wrap .search-button button { width: 100%; height: 40px; }

#header .header-search[data-status='Y'] .search-toggle{ border: none; }
#header .header-search[data-status='Y'] .search-toggle .toggle-item[data-status='Y'] { display: block; }
#header .header-search[data-status='Y'] .search-field { display: block; }
#header .header-search[data-status='N'] .search-toggle .toggle-item[data-status='N'] { display: block; }

#header .header-gnb { position: relative; z-index: 2; }