@charset "UTF-8";

.inner { width: 1400px; margin: 0 auto; }

#header { position: relative; z-index: 9999; border-bottom: 1px solid #ccc; }
#header > .inner { display: flex; justify-content: space-between; align-items: center; height: 100px; }

#header .header-logo { position: relative; z-index: 2; width: 200px; }
#header .header-logo a { display: block; width: 100%; text-decoration: none; font-size: 24px; color: #333; }
#header .header-logo a img { width: 100%; height: auto; }

#header .header-search {}
#header .header-search .search-toggle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; height: 50px; padding: 0 20px; padding-right: 50px; border: 1px solid #ccc; border-radius: 30px; }
#header .header-search .search-toggle .toggle-item { font-size: 14px; cursor: pointer; }
#header .header-search .search-toggle .toggle-item i { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); }
#header .header-search .search-toggle .toggle-item[data-status='Y'] { display: none; }
#header .header-search .search-toggle .toggle-item[data-status='N'] { display: block; }

#header .header-search .search-field { display: none; position: absolute; top: calc(100% - 1px); left: 0; z-index: 2; width: 100%; background: #fff; }
#header .header-search .search-field .search-wrap { width: 900px; margin: 0 auto; padding: 20px 0 40px; }
#header .header-search .search-field .search-wrap  form { display: flex; justify-content: space-between; align-items: center; }
#header .header-search .search-field .search-wrap  form input[type='text'] { width: 100%; height: 40px; background: #f1f1f1; border: 1px solid #e9e9e9; border-radius: 3px; padding-left: 10px; cursor: pointer; }
#header .header-search .search-field .search-wrap .search-list { display: flex; justify-content: space-between; width: calc(100% - 120px); }
#header .header-search .search-field .search-wrap .search-list .list-item { position: relative; width: 23%; padding: 0 10px; }
#header .header-search .search-field .search-wrap .search-list .list-item:first-child { width: 250px; }
#header .header-search .search-field .search-wrap .search-list .list-item:after { position: absolute; top: 0; right: 0; content: ""; width: 1px; height: 100%; background: #e0e0e0; }
#header .header-search .search-field .search-wrap .search-list .list-item:last-child:after { display: none; }
#header .header-search .search-field .search-wrap .search-list .list-item .item-title { font-weight: bold; font-size: 14px; line-height: 30px; }

#header .header-search .search-field .search-wrap .search-list .list-item.guest input { width: calc(100% - 100px); text-align: right; }
#header .header-search .search-field .search-wrap .search-list .list-item.guest button { width: 40px; height: 40px; background: #ccc; border: none; }

#header .header-search .search-field .search-wrap .search-button { width: 100px; padding-top: 30px; }
#header .header-search .search-field .search-wrap .search-button button { width: 100%; height: 40px; }

#header .header-search.active .search-toggle { border: none }
#header .header-search.active .search-field { display: block; }
#header .header-search.active .search-toggle .toggle-item[data-status='Y'] { display: block; }
#header .header-search.active .search-toggle .toggle-item[data-status='N'] { display: none; }


#header .header-user { position: relative; z-index: 2; display: flex; align-items: center; }
#header .header-user .user-advertise { margin-right: 20px; }
#header .header-user .user-advertise a { font-size: 14px; color: #888; }
#header .header-user .user-menu .menu-toggle { height: 40px; border: 1px solid #ccc; border-radius: 30px; padding: 0 10px; cursor: pointer; }
#header .header-user .user-menu .menu-toggle i { margin-right: 5px; font-size: 22px; }
#header .header-user .user-menu .menu-toggle i:last-child { margin-right: 0; }
#header .header-user .user-menu .menu-wrap { display: none; position: absolute; top: 50px; right: 0; width: 200px; background: #fff; box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; border: 1px solid #ccc; border-radius: 10px; padding: 5px 0; }
#header .header-user .user-menu .menu-wrap .menu-list {}
#header .header-user .user-menu .menu-wrap .menu-list li {}
#header .header-user .user-menu .menu-wrap .menu-list li.dash { position: relative; width: 100%; height: 10px; }
#header .header-user .user-menu .menu-wrap .menu-list li.dash:after { content: ""; position: absolute; top: 50%; left: 0; transform: translateY(-50%); display: block; width: 100%; height: 1px; background: #ccc; }
#header .header-user .user-menu .menu-wrap .menu-list li a { display: block; padding-left: 20px; font-size: 14px; line-height: 40px; color: #666; }
#header .header-user .user-menu .menu-wrap .menu-list li a.bold { font-weight: bold; }

#header .header-user .user-menu.active .menu-wrap { display: block; }
#header .header-user .user-menu.active .menu-toggle,
#header .header-user .user-menu .menu-toggle:hover { box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px; }
#header .header-user .user-menu .menu-wrap .menu-list li:hover { background: #f4f4f4; }


.main .inner { padding: 50px 0; }


.page-title { margin-bottom: 30px; }
.page-title .title-name { font-weight: bold; font-size: 28px; line-height: 30px; }

.fieldset-wrap {}
.fieldset-wrap .fieldset-data {}
.fieldset-wrap .fieldset-data .data-wrap { display: flex; flex-wrap: wrap; margin-bottom: 20px; }
.fieldset-wrap .fieldset-data .data-wrap .data-field { width: 100%; }
.fieldset-wrap .fieldset-data .data-wrap .data-field input[type='text'],
.fieldset-wrap .fieldset-data .data-wrap .data-field input[type='password'] { width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 5px; padding-left: 20px; }
.fieldset-wrap .fieldset-data .data-wrap.error .data-field input[type='text'],
.fieldset-wrap .fieldset-data .data-wrap.error .data-field input[type='password'] { border: 1px solid #dc3545; }
.fieldset-wrap .fieldset-data .data-wrap.success .data-field input[type='text'],
.fieldset-wrap .fieldset-data .data-wrap.success .data-field input[type='password'] { border: 1px solid #198754; }

.fieldset-wrap .fieldset-data .data-wrap .data-field select { width: 100%; height: 50px; border: 1px solid #ccc; border-radius: 5px; padding-left: 15px; }


.fieldset-wrap .fieldset-data .data-wrap .data-button { width: 150px; }
.fieldset-wrap .fieldset-data .data-wrap .data-button button { width: 150px; height: 50px; padding: 0; border-top-left-radius: 0; border-bottom-left-radius: 0; font-size: 12px; }

.fieldset-wrap .fieldset-data .data-wrap .data-msg { width: 100%; margin-top: 5px; font-size: 14px; }
.fieldset-wrap .fieldset-data .data-wrap .data-msg.error { color: #dc3545; }
.fieldset-wrap .fieldset-data .data-wrap .data-msg.success { color: #198754; }

.fieldset-wrap .fieldset-button {}
.fieldset-wrap .fieldset-button button { width: 100%; height: 60px; }

.fieldset-wrap .fieldset-data .data-wrap .data-field input[type='text']:focus,
.fieldset-wrap .fieldset-data .data-wrap .data-field input[type='password']:focus { border: 1px solid #198754; }

.fieldset-wrap .fieldset-data .data-wrap.button .data-field { width: calc(100% - 150px); }
.fieldset-wrap .fieldset-data .data-wrap.button .data-field input[type='text'],
.fieldset-wrap .fieldset-data .data-wrap.button .data-field input[type='password'] { border-right: 0; border-top-right-radius: 0; border-bottom-right-radius: 0; }






